<!DOCTYPE html>
<html lang="es">
    <head>
        <title>CMC</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Colegio Moderno Del Caribe</h1>
    <hr>
    <h3>INICIO</h3>
    <p> Esta es la página de inicio de nuestra instituccion</p>
    <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete%>
    </body>
</html>