<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Mision</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mision</title>
        <link href="app/assets/stylesheets/mision.css" rel="stylesheets" type="text/css">
    </head>
  <body>
    <h1>Colegio Moderno Del Caribe</h1>
    <hr>
    <h3>MISION</h3>
    <p>Nuestra misión en esta institución es que cada miembro se eduque, instruya, capacite para  </p>
    
  </body>
</html>