<div class="contenedor">
  <header>
    <div class="git">
      <img src='../assets//CMC.jpg' width="20">
      <p>CMC</p>
    </div>
    <nav>
      <%= link_to "Inicio", root_path %>
      <%= link_to "Misión", home_mision_path %>
      <%= link_to "Visión", home_vision_path %>
      
      <%= link_to "Iniciar Sesión", new_user_session_path%>
      
    </nav>
  </header>

</div>